* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #001a33;
  font-family: 'Poppins';
  color:white;
}
.banner {
  width:100%;
  color: #b3daff;
  height: 10vh;
  display: flex;
  align-items: center;
}
.banner-name {
  margin-left: 2%;
  letter-spacing: 1rem;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-family:'Poppins thin'
}
.exhibit-class {
  background-color: #fafafa;
  color: #0a0a23;
  padding: 2%;
  width: 80%;
  margin: 5% auto;
  background: linear-gradient(120deg, rgba(184, 203, 221, 0.9), rgba(138, 163, 187, 0.5));
}
.exhibit-class > h1 {
  border-bottom: 2px solid #0a0a23;
  font-family: 'Poppins thin';
}
.display-components {
  display: flex;
  justify-content: space-evenly;
  margin: 5% auto;
  height: auto;
}
.display {
  padding: 0 0 1rem 0;
  width: 40%;
  height: auto;
  background-color: #fafafa;
}
.display h1{
  background-color: #001a33;
  color: #fafafa;
  margin-top: -8;
  padding: 0.5rem;
  font-family: 'Poppins thin';
}
.display p {
  padding: 0.5rem;
}